.hover {
    position: relative;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000046;
    overflow: hidden;
    /* width: 0; */
    opacity: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .card:hover .overlay {
    /* width: 100%; */
    opacity: 1;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 33%;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    text-align: center;
  }
  
  .card:hover .image {
    opacity: 1;
  }
  
  .card:hover .middle {
    opacity: 1;
  }
